<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}">ID</td>
            <td th:text="${order.name}">Username</td>
            <td th:text="${order.state}">State</td>
            <!-- <td th:text="${order.deliverId}">Deliver ID</td> -->
        </tr>
    </table>
    <form action="/api/auth/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>

