<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders List</title>
</head>
<body>
    <h1 th:if="${data.arrived != null}">Arrived Orders List</h1>
    <div th:if="${data.arrived != null}">
        <div th:each="order : ${data.arrived}">
            <h2>Order ID: <span th:text="${order.orderId}"></span></h2>
            <p>Deliver Name: <span th:text="${order.deliverName}"></span></p>
            <h3>Items:</h3>
            <ul>
                <li th:each="item : ${order.itemDeteilList}">
                    <span th:text="${item.foodName}"></span> - 
                    <span th:text="${item.foodType}"></span> - 
                    <span th:text="${item.price}"></span> NTD x 
                    <span th:text="${item.quantity}"></span>
                </li>
            </ul>
        </div>
    </div>
    <h1 th:if="${data.arrived != null}">Waiting Orders List</h1>
    <div th:if="${data.waiting != null}">
        <div th:each="order : ${data.waiting}">
            <h2>Order ID: <span th:text="${order.orderId}"></span></h2>
            <p>Deliver Name: <span th:text="${order.deliverName}"></span></p>
            <h3>Items:</h3>
            <ul>
                <li th:each="item : ${order.itemDeteilList}">
                    <span th:text="${item.foodName}"></span> - 
                    <span th:text="${item.foodType}"></span> - 
                    <span th:text="${item.price}"></span> NTD x 
                    <span th:text="${item.quantity}"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>