<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <title>歷史訂單</title>

  <link rel="shortcut icon" th:href="@{/img/DeliverFoods.png}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <!-- 下面這個div把整個header包起來 -->
  <div class="container">
    <!-- 下面這個div把header劃分成一個row -->
    <div class="row g-3">
      <!-- 下面這個div把header劃分成一整個column 方便之後分割 如果有要分的話就再切一個column出來 -->
      <div class="col">
        <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
            <!-- 下面這個div把header的東西都變水平的 -->
            <div class="container-fluid">
              <a class="navbar-brand" href="/">訂餐</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- 下面這個div把header上的Home單獨切出來 如果之後有要加其他東西也可以直接從這邊加li就可以了 -->
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item" th:if="${session.isDeliver}">
                    <!-- 這裡的東西也可以改成連結到其他地方的按鈕 但目前其實就只是顯示現在在哪個頁面的title而已 -->
                    <a class="nav-link" aria-current="page" href="/pickup">接單系統</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div>
  </div>
  <!-- 下面這個nav是側邊欄 不跟主區塊塞一起最主要是因為bootstrap的網格系統已經自備側邊欄了 不包含在col裡面 但我這邊用CSS寫的 塞在style裡面 就把它獨立出來-->
  <nav class="sidebar bg-light">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <span data-feather="home"></span>
            首頁
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <span data-feather="shopping-cart"></span>
            購物車
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/history">
            <span data-feather="shopping-cart"></span>
            歷史訂單
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">
            <span data-feather="bar-chart-2"></span>
            帳號資訊
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href th:onclick="logOut()">
            <span data-feather="bar-chart-2"></span>
            登出
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <!-- 下面這個div把整個主要空間包起來 現在主要是那個列表-->
  <div class="container my-5">
    <!-- 定義row -->
    <div class="row gx-3 ">
      <!-- 下面這個div是為了跟側邊欄有距離 所以把第一個column空著 不然會貼在一起 -->
      <div class="col-1"></div>
      <!-- 下面這個div就是把剩下的column都切給那個列表 -->
      <div class="col d-flex">
        <!-- 訂單資訊 -->
        <div class="container mt-5">
          <div th:if="${data?.get('arrived') != null}">
            <h1 class="mb-4">已送達的訂單：</h1>
            <table class="table table-bordered table-hover text-center">
              <thead class="table-dark">
                <tr>
                  <th scope="col-1">單號</th>
                  <th scope="col">使用者</th>
                  <th scope="col">外送員</th>
                  <th scope="col">送餐地址</th>
                  <th scope="col-6">品項</th>
                </tr>
              </thead>
              <tbody class="table-secondary align-middle">
                <tr th:each="order : ${data?.get('arrived')}">
                  <td th:text="${order.orderId}"></td>
                  <td th:text="${order.userName}"></td>
                  <td th:text="${order.deliverName}"></td>
                  <td th:text="${order.address}"></td>
                  <td>
                    <div class="row">
                      <div class="col-6" th:each="item : ${order.itemDeteilList}">
                        <div class="border border-dark rounded p-2">
                          <div class="fs-5 fw-bold" th:text="${item.foodName}"></div>
                          <div class="text-secondary" th:if="${item.foodType == 'drinks'}"><i class="fa-solid fa-mug-hot"></i></div>
                          <div class="text-secondary" th:if="${item.foodType == 'staple'}"><i class="fa-solid fa-bowl-rice"></i></div>
                          <div class="text-secondary" th:if="${item.foodType == 'side'}"><i class="fa-solid fa-carrot"></i></div>
                          <div th:text="'$' + ${item.price} + ' NTD'"></div>
                          <div th:text="${item.quantity} + ' 份，共 $' + ${item.price * item.quantity} + ' NTD'"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div th:if="${data?.get('arrived') == null}">
            <div class="card text-dark bg-warning mb-3">
              <div class="card-header text-center">
                <i class="fa-solid fa-face-sad-cry"></i>
                糟糕
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">沒有已完成的訂單資訊</h5>
                <p class="card-text text-center">拜託啦 訂餐啦</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <script>
    function logOut() {
      fetch('/api/auth/logout', {
        method: 'POST',
      })
        .then(response => {
          if (response.status === 200) {
            location.reload();
          } else {
            console.log('Response status:', response.status);
          }
        });
    }
  </script>

</body>

</html>