<!-- circledog/endProject -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta charset="UTF-8">
  <title>Deliver Foods - 註冊</title>
  
  <link rel="shortcut icon" th:href="@{/img/DeliverFoods.png}">
  <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body class="d-flex back">
  <!-- 跟登入介面一樣 只是label比較多 -->
  <main class="form-signin w-100 m-auto">
    <form id="signupForm">
      <div class="text-center">
        <i class="fa-solid fa-user icon "></i>
      </div>
      <h1 class="h3 mb-3 fw-normal text-center"><b>Sign Up</b></h1>

      <div class="form-floating">
        <input type="text" class="form-control Toppadding" id="name" placeholder="User Name">
        <label for="name">使用者帳號</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control Middelpadding" id="email" placeholder="name@example.com">
        <label for="email">電子信箱</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control Middelpadding" id="phone" placeholder="ex: 0912345678">
        <label for="phone">電話號碼</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control Middelpadding" id="address" placeholder="Your Address">
        <label for="address">地址</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control Bottompadding" id="password" placeholder="Password">
        <label for="password">密碼</label>
      </div>


      <button class="btn btn-primary w-100 py-2" type="submit">註冊</button>

      <a class="link-secondary" href="/login">Sign In</a>
    </form>
  </main>
  
  <script>
    document.getElementById('signupForm').addEventListener('submit', function(event) {
      event.preventDefault();

      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const phone = document.getElementById('phone').value;
      const address = document.getElementById('address').value;
      const password = document.getElementById('password').value;

      const postData = { name, email, phone, address, password };

      fetch('/api/auth/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(postData)
      })
      .then(response => {
        if (response.status === 200) {
          alert("使用者: " + name + " 註冊成功！");
          location.href="/";
        }
      });
    });
  </script>

</body>

</html>